* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(--foreground-rgb);
  background: rgb(--background-start-rgb);
}

a {
  color: inherit;
  text-decoration: none;
}

